@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text: #ebe9fc;
    --background: #121212;
    --primary: #1c4155;
    --secondary: #356056;
    --accent: #85b275;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
    color: var(--text);
}

.cabecalho{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* webkit -> deixa o merge o texto com o background */
#timer {
    font-size: 5em;
    background: -webkit-linear-gradient(45deg, var(--primary)15%, var(--accent) 40%, var(--secondary)75%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
#minitimer {
    background: -webkit-linear-gradient(45deg, var(--primary)15%, var(--accent) 40%, var(--secondary)75%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.controles button {
    background: -webkit-linear-gradient(45deg, var(--primary)15%, var(--accent) 40%, var(--secondary)75%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #777;
    border-radius: 16px;
    cursor: pointer;
}

.controles button:active {
    transform: scale(.85);
    transition: all .3s ease-in-out;
}

.controles button.desabilitado {
    background: -webkit-linear-gradient(45deg, #404040 15%, #707070 40%, #202020 75%);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: #777; 
    cursor: default; 
}

.controles button.desabilitado:active {
    transform: none;
}

.exercicios {
    background-color: #323232;
    color: var(--text);
}

.exercicios h3 {
    background: yellow;
}

.exercicios button {
    background: -webkit-linear-gradient(45deg, var(--primary)15%, var(--accent) 40%, var(--secondary)75%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #777;
    border-radius: 16px;
    cursor: pointer;    
}