@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text: #ebe9fc;
    --background: #010104;
    --primary: #1c4155;
    --secondary: #356056;
    --accent: #85b275;
    /* Gradientes */
    --linearPrimarySecondary: linear-gradient(95deg, #1c4155, #356056);
    --linearPrimaryAccent: linear-gradient(#1c4155, #85b275);
    --linearSecondaryAccent: linear-gradient(#356056, #85b275);
}

body {
    background: var(--linearPrimaryAccent);
    color: var(--text);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* efeito blur */
/* .content {
    display: grid;
    gap: 2em;
    padding: 1em 5rem;
    border-radius: 16px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    backdrop-filter: blur(1.17rem);
} */

.content:hover {
    transition: all .5s ease-in-out;
    background: rgba(255, 255, 255, .05)
}

.content button {
    font-family: "poppins";
    font-weight: 400;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 16px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    background: var(--accent);
}

.content button:hover {
    cursor: pointer;
    transform: scale(.95);
    transition: all .2s ease-in-out;
    background: calc(var(--accent) * .3);
    
}

.content button:active {
    transform: scale(.85); 
    transition: all .1s ease-in-out;
    background: calc(var(--secondary) * .15);
}

/* Timer  */
.content h4 {
    font-size: 3rem;
    display: flex;
    justify-self: center;
}

/* ia */
.content {
    display: grid;
    gap: 2em;
    padding: 1em 5rem;
    border-radius: 16px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    backdrop-filter: blur(1.17rem);
    position: relative;
}

.timer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: 5px solid blue;
    border-top-color: transparent;
    border-right-color: transparent;
    transition: transform 1s linear;
}
